html, body {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  color: #333;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: #333;
}
.bf {
  background-color: #fff;
}
.tc {
  text-align: center;
}
.manage-item {
  padding: 10px;
}
.dx_captcha {
  height: 40px;
}
/* 图片预览组件的css */
#imageView .imageBox li {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    pointer-events: none;
    max-height: 100%;
    height: auto !important;
  }
}
